<h2>Instructions</h2>
<p>
    Please carefully read the following instructions, using the arrows
    <span class="glyphicon glyphicon-chevron-left"></span> and
    <span class="glyphicon glyphicon-chevron-right"></span>
    on the left/right to change pages. You will be able to start the survey when you reach the sixth page.
</p>

<div id="carousel-example-generic" class="carousel" data-interval=false
     data-wrap=false>
  <!-- Indicators -->
    <ol class="carousel-indicators carousel-indicators-numbers">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      <div class="item active fix-height">
          <div class="resize">
              <div class="col-md-4">
                  <p>In this survey, you will help us understand how people perceive the
                      <span class="highlight">sentiment (positive or negative) of movie reviews</span>.
                      There are <span class="highlight">{{totalIter}}</span> questions; each shows one word and
                      asks you to judge whether it is relevant for determining the review’s sentiment.
                  </p>
              </div>
               <div class="col-md-8">
                  <img class="resize-img" src="../assets/img/taskNum.png" alt="..."></div>
          </div>
      </div>

      <div class="item fix-height">
          <div class="resize">
              <div class="col-md-4">
                  <p>You will receive <span class="highlight">1.45 dollars</span> for your effort
                      <span class="highlight">if and only if</span> you finish all the
                      <span>{{totalIter}}</span> questions.
                  </p>

                  <p>Expect to spend around <span class="highlight">10-15</span> minutes to complete this survey.
                        Please do not accept the survey if you cannot commit to this time duration.
                  </p>
              </div>
               <div class="col-md-8">
                  <img class="resize-img" src="../assets/img/taskNum.png" alt="..."></div>
          </div>
      </div>

      <div class="item fix-height">
          <div class="resize">
              <div class="col-md-4">
                   <p>Take the question about <span class="highlight">"impressive"</span>;
                       you will need to determine if the word is
                       <span class="highlight">"Relevant"</span> for predicting sentiment or if it isn’t
                       helpful for deciding that the sentiment is positive or negative
                       <span class="highlight">("Irrelevant")</span>.
                       For context, you are shown example review fragments containing the word
                       (right side of the screen), but we want to understand the <i>general case</i>, for example,
                       so we could use the words to train a machine to predict the sentiment of other
                       reviews not yet written.
                    </p>
                  </div>
                   <div class="col-md-8">
                       <img class="resize-img" src="../assets/img/example.png" alt="..."></div>
          </div>
      </div>
      <div class="item fix-height">
          <div class="resize">
              <div class="col-md-4">
                  <p>As you tackle the question, the <span class="highlight">computer</span>
                      will try to help by providing an <span class="highlight">estimated score</span>
                      (between 0-100), that shows how relevant or irrelevant <i>it</i> thinks
                      the word is. This score <i>might</i> help you
                      with your judgment (the higher the score, the better the computer thinks
                      it can make the call), but be aware that
                      <span class="highlight">the score may sometimes be wrong</span>.
                  </p>
              </div>
              <div class="col-md-8">
                  <img class="resize-img" src="../assets/img/score.png" alt="..."></div>
          </div>
      </div>
      <div class="item fix-height">
          <div class="resize">
              <div class="col-md-4">
                  <p>We display the estimated scores along with the options you can take
                      (Relevant/Irrelevant), with the higher scored one highlighted with an
                      <span class="betterOpt">orange</span> background
                      <span class="label betterlabel">Relevant, 80</span>,
                      and the other one with <span class="worseOpt">blue</span>
                      <span class="label worselabel">Irrelevant, 43</span>.
                  </p>
              </div>
              <div class="col-md-8">
                  <img class="resize-img" src="../assets/img/score.png" alt="..."></div>
          </div>
      </div>
      <div class="item fix-height">
          <div class="resize">
              <div class="col-md-4">
                  <p>You should submit your decision with on one of the two submit buttons
                      (labeled relevant / irrelevant); this will take you to the next question.</p>

                  <p>You can only submit after the question has been displayed for
                      <span class="highlight">{{ enableSubmitSecond }} seconds</span>.</p>

                  </div>
                   <div class="col-md-8">
                       <img class="resize-img" src="../assets/img/submit.png" alt="..."></div>
              <div class="row">
                  <button class="btn btn-success"
                          ng-click=currentStage('quiz') role="button">I understand!!</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
  </a>
</div> <!-- Carousel -->