<!--Task name -->
<h2>Task {{ iterNum + 1 }} / {{ totalIter }}</h2>
<div class =row>
    <!-- Task question -->
    <p class="taskQuestion">
            When determining if movie reviews are positive or negative,
            Is the word "<span class="feature">{{ feature.word }}</span>" relevant or irrelevant?</p>
    <div class="col-md-5">

        <!-- Performance score-->
        <div class = col-md-12 ng-include src="'../views/select.html'"></div>
        <!-- One sentence summary of the improvement -->
        <p class="improveNotice" ng-show="F1.relevant == F1.irrelevant">"
            The machine cannot predict if "{{ feature.word }}" is relevant or irrelevant.
        </p><!-- end summary -->
        <p class="improveNotice" ng-show="F1.relevant != F1.irrelevant">"
            {{ feature.word }}" is predicted to be
            <span class = 'betterOpt'>{{ select }}</span>.
        </p><!-- end summary -->
    </div><!--End of question -->
    <!--Exmaple-->
    <div class="col-md-7">
        <div class="element-view-header"><div class="element-view-title">Examples</div></div>
        <div id="element-view-container-inner" class="element-view-container-inner">
            <table class="table table-condensed table-striped">
                <tr ng-repeat="doc in doclist">
                                <!--<td ng-bind-html="doc"></td>-->
                    <td class="left">{{ doc.pre }}</td>
                    <td class="center feature">{{ doc.cur }}</td>
                    <td class="right">{{ doc.post }}</td>
                </tr>
            </table>
        </div>
    </div><!-- end of example -->
</div><!-- one task -->
<!-- Submit buttons -->

<div ng-show=!running id='hint' class="hint-text">Please select one!</div>
<div ng-show=running class="hint-text">Running...</div>

<div class="row">
    <div class="col-md-6">
        <button ng-model="ifRelevant" value="relevant"
                ng-click="nextIter('relevant')" class="btn btn-primary RelevantBtn iterBtn"
                id = "RelevantBtn" role="button">Relevant</button></div>
    <div class="col-md-6">
        <button ng-model="ifRelevant" value="irrelevant"
                ng-click="nextIter('irrelevant')" class="btn btn-primary IrrelevantBtn iterBtn"
                id = "IrrelevantBtn" role="button">Irrelevant</button></div>
</div><!-- end submit buttons -->
<hr/>